body{
    width: 100%;
}

.titulo-principal {
text-align: center;    
color: blue;
}

.titulo-centralizado{
    text-align: center;
    color: brown;
}

img.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 img.img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.footer{
    text-align: center;
}

.video{
    text-align: center;

}